@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

/* Reset and base styles  */
* {
	padding: 0px;
	margin: 0px;
	border: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Links */

a, a:link, a:visited  {
    text-decoration: none;
}

a:hover  {
    text-decoration: none;
}

:root {
/* Font/text values */
--unnamed-font-family-manrope: "Manrope";
--unnamed-font-style-normal: normal;
--unnamed-font-weight-800: 800px;
--unnamed-font-weight-normal: normal;
--unnamed-font-weight-bold: bold;
--unnamed-font-size-14: 14px;
--unnamed-font-size-18: 18px;
--unnamed-font-size-24: 24px;
--unnamed-character-spacing-0: 0px;
--unnamed-line-spacing-19: 19px;
--unnamed-line-spacing-24: 24px;
--unnamed-line-spacing-33: 33px;
--unnamed-text-transform-titlecase: titlecase;
}

/* Character Styles */
.card-title-24pt {
	font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-800) var(--unnamed-font-size-24)/var(--unnamed-line-spacing-33) var(--unnamed-font-family-manrope);
	letter-spacing: var(--unnamed-character-spacing-0);
	color: var(--unnamed-color-072635);
	text-align: left;
	font: normal normal 800 24px/33px Manrope;
	letter-spacing: 0px;
	color: #072635;
	opacity: 1;
}
.inner-card-title-18pt {
	font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-18)/var(--unnamed-line-spacing-24) var(--unnamed-font-family-manrope);
	letter-spacing: var(--unnamed-character-spacing-0);
	color: var(--unnamed-color-072635);
	text-align: left;
	font: normal normal bold 18px/24px Manrope;
	letter-spacing: 0px;
	color: #072635;
	text-transform: capitalize;
	opacity: 1;
}
.body-emphasized-14pt {
	font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-14)/var(--unnamed-line-spacing-19) var(--unnamed-font-family-manrope);
	letter-spacing: var(--unnamed-character-spacing-0);
	color: var(--unnamed-color-072635);
	text-align: left;
	font: normal normal bold 14px/19px Manrope;
	letter-spacing: 0px;
	color: #072635;
	opacity: 1;
}
.body-secondary-info-14pt {
	font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-14)/var(--unnamed-line-spacing-19) var(--unnamed-font-family-manrope);
	letter-spacing: var(--unnamed-character-spacing-0);
	color: var(--unnamed-color-707070);
	text-align: left;
	font: normal normal normal 14px/19px Manrope;
	letter-spacing: 0px;
	color: #707070;
	opacity: 1;
}
.body-regular-14 {
	font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-14)/var(--unnamed-line-spacing-19) var(--unnamed-font-family-manrope);
	letter-spacing: var(--unnamed-character-spacing-0);
	color: var(--unnamed-color-072635);
	font: normal normal normal 14px/19px Manrope;
	letter-spacing: 0px;
	color: #072635;
	opacity: 1;
}

.manrope-30px-extra-bold {
	font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-800) 30px/41px var(--unnamed-font-family-manrope);
	letter-spacing: var(--unnamed-character-spacing-0);
	color: var(--unnamed-color-072635);
	text-align: left;
	font: normal normal 800 30px/41px Manrope;
	letter-spacing: 0px;
	color: #072635;
	opacity: 1;
}

.manrope-medium-16px {
	font: var(--unnamed-font-style-normal) normal medium 16px/22px var(--unnamed-font-family-manrope);
	letter-spacing: var(--unnamed-character-spacing-0);
	color: var(--unnamed-color-072635);
	text-align: left;
	font: normal normal medium 16px/22px Manrope;
	letter-spacing: 0px;
	color: #072635;
	text-transform: capitalize;
	opacity: 1;
}

.manrope-medium-14px {
	font: var(--unnamed-font-style-normal) normal medium var(--unnamed-font-size-14)/var(--unnamed-line-spacing-19) var(--unnamed-font-family-manrope);
	letter-spacing: var(--unnamed-character-spacing-0);
	color: var(--unnamed-color-072635);
	text-align: left;
	font: normal normal medium 14px/19px Manrope;
	letter-spacing: 0px;
	color: #072635;
	text-transform: capitalize;
	opacity: 1;
}

.manrope-bold-14px {
	font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-14)/var(--unnamed-line-spacing-19) var(--unnamed-font-family-manrope);
	letter-spacing: var(--unnamed-character-spacing-0);
	color: var(--unnamed-color-072635);
	text-align: left;
	font: normal normal bold 14px/19px Manrope;
	letter-spacing: 0px;
	color: #072635;
	text-transform: capitalize;
	opacity: 1;
}

.manrope-bold-22px {
	font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) 22px/30px var(--unnamed-font-family-manrope);
	letter-spacing: var(--unnamed-character-spacing-0);
	color: var(--unnamed-color-072635);
	text-align: left;
	font: normal normal bold 22px/30px Manrope;
	letter-spacing: 0px;
	color: #072635;
	text-transform: capitalize;
	opacity: 1;
}

.manrope-regular-13px {
	font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 13px/18px var(--unnamed-font-family-manrope);
	letter-spacing: var(--unnamed-character-spacing-0);
	color: var(--unnamed-color-072635);
	text-align: left;
	font: normal normal normal 13px/18px Manrope;
	letter-spacing: 0px;
	color: #072635;
	text-transform: capitalize;
	opacity: 1;
}


::-webkit-scrollbar {
	width: 6px;
}

::-webkit-scrollbar-track {
	border-radius: 6px;
	background-color: #E3E4E6;
}

::-webkit-scrollbar-thumb {
	border-radius: 6px;
	background-color: #072635;
	max-height: 40px;
}



@tailwind base;
@tailwind components;
@tailwind utilities;
